@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



/*------------------------------------------------------ Colours*/

body {
    background-color: #000;
}

.bg-color {
    background-color: #00001a;
}

.bg-color-contact {
  color: #fff;
}


/*------------------------------------------------------ heading*/

.navbar {
    padding: 16px;
}
.navbar-nav li {
    padding-right: 16px;
}

.nav-link {
    font-size: 20px;
}

.navbar-brand {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-left: 20px;
    color: #fafafa;
}

.navbar-collapse {
    text-align: right;
}


/*------------------------------------------------------ footer*/


.uppercase {
    text-transform: uppercase;
}

footer {
    background-color: #00001a;
    color: #fafafa;
    min-height: 120px;
    text-align: center;
    padding: 20px;
    margin: 0;
}

footer h5 {
    padding-bottom: 20px;
}

footer li a {
    padding-top: 30px;
}

.social-links li a i {
    width: 46px;
    height: 46px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 23px;
    line-height: 21px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #1a1aff;
}

/* Styles for the portfolio */

section {
background-color:  #00001a;
}



.tz-gallery img {
    border-radius: 2px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

/*....................................................... Styles for the portfolio */

 .gallery-container {   
     padding: 30px
}


/*------------------------------------------------------ Contact Form*/

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 80%;
   
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color:  #1a1aff;
}


/*------------------------------------------------------About Me*/

.aboutme-text {
    margin: 0;
    padding: 20px;
    color: #fff;
    font-family: "Exo", sans-serif;
}

.selfie {
    margin: 0;
    max-width: 720px;
    padding: 20px;
}


/*------------------------------------------------------ Media Queries*/

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}
